body {
    height: 200px;
    background-color: red;  /* For browsers that do not support gradients */
    background-image:linear-gradient(30deg, #a12fff, #3437ef, #00acee, #2bafa8, #b477ea, #e8a9e5);
}
