{% extends "base.html" %}

{% load static %}

<html>
<head>
    <link rel='stylesheet' type='text/css' href="{% static 'resume/style.css' %}">
</head>


<body>
    {% block navbar %}
    <div class ="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Resume</a>
    {% endblock %}

    {% block page_content %}
        <h1>Resume</h1>
        <ul>
            {% for job in object_list %}
                <head>
                    <b>{{job.job_name}} at {{job.business_name}}</b>
                    <em>{{job.year_worked}}</em>
                </head>

                <li>{{job.job_description}}</li>
            {% endfor %}
        </ul>
        
    {% endblock %}
</body>
</html>